* {
  padding: 0px;
  margin: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* !Universal Classes  */
.flexC {
  display: flex;
  flex-direction: column;
}
.flexR {
  display: flex;
}
.centerIt {
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* !Element Styling  */
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    "nav"
    "mai";
}
header {
  grid-area: nav;
  justify-content: space-between;
}
main {
  grid-area: mai;
  overflow: auto;
}
ul {
  justify-content: space-between;
}
h1 {
  font-size: 3em;
}

/* !Welcome Section  */
#welcome-section {
  height: 90vh;
}
#welcomeImage {
  height: 30%;
  width: 100%;
  background: url(../assets/fcc-image.png) no-repeat top/contain;
}
.welcome {
  height: 40%;
  justify-content: space-around;
}

/* !Projects  */
#projects {
  height: 90vh;
  width: 100%;
}
#sideScrollWrapper {
  /* overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; */
  width: 100%;
  height: 70%;
  border: solid 1px;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
}
.project-tile {
  flex: 0 0 auto;
  /* display: inline-block; */
  height: 95%;
  width: 75%;
  border: solid 1px;
  margin-left: 10px;
  margin-right: 10px;
}
#lastChild {
  margin-right: 10px;
}

